<!--Navbar-->
<nav class="navbar navbar-light bg-dark">

    <!-- Collapse button -->
    <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1"
      aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="cus-white-text">
            <fa-icon [icon]="faBars" aria-hidden="true"></fa-icon>
        </span>
    </button>

    <!-- Navbar brand -->
    <div>
      <!-- TODO CART -->
      <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#myModal">
        <i class="fa fa-shopping-cart" aria-hidden="true">Cart</i>
        <span class="badge badge-info">1</span>
      </a>

      <a class="cus-white-text" class="btn btn-danger float-right" (click)="SignOut()">Sign Out</a>
    </div>
  
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent1">
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto"><br>
        <li class="nav-item active">
          <a class="cus-white-text fa-15x" routerLink="/home/user">Home</a>
        </li><br>
        <li class="nav-item">
          <a class="cus-white-text fa-12x" routerLink="/products">Products</a>
        </li><br>
      </ul>
      <!-- Links -->
  
    </div>
    <!-- Collapsible content -->
  
  </nav>
  <!--/.Navbar-->