<app-usermenu></app-usermenu>

<body style="background-color: #1c5739;" class="text-black">
    <div class="container">
        <div class="row justify-content-center" style="height: 100vh; align-items: center;">
            <div class="card-body"style="width:1100px; height: 450px ;border-radius: 25px;background-color: #decc99; padding: 30px 30px 30px 70px">
                <h1 class="justify-content-center" class="display-3" style="padding: 0 0px 0 33%">ยินดีต้อนรับ</h1><br>
                <h4 class="text-center">หน้านี้ออกแบบมาเพื่อให้คุณเลือกดูเครื่องดื่มจากร้านของเราได้อย่างง่ายดาย</h4><br>
                
                  <div  class="text-center">
                    <a routerLink="/products">
                        
                        <img src="https://www.cafe-amazon.com/images/icon_product_1.png" alt="drinking">
                    </a>
                </div>
            </div>
        </div>
    </div>
  

</body>
